@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
main {
  width: 100%;
  padding: 24px;
  max-width: 460px;
  margin: 0 auto;
  border-radius: 20px;
}
* {
  outline-color: var(--accent-color);
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  background-color: #fff;
  width: 100%;

}

h1 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  font-size: 1.5rem;
}

h1::before {
  content: "";
  display: inline-block;
  background: url(./public/gemini.png);
  width: 20%;
  height: auto;
  background-size: cover;
}

form {
  margin: 0;
}

.prompt-box {
  margin: 24px 0;
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

label {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
}

input,
button {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px 16px;
  font-family: unset;
  font-size: 16px;
}

button {
  border-color: var(--accent-color);
  background: #8d5afd;
  color: white;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
}

button:focus-visible {
  outline: 2px solid white;
  outline-offset: -4px;
}

button:hover {
  opacity: 0.95;
}
